# @Author: adriamoya
# @Date:   2019-01-11T16:33:13+00:00
# @Last modified by:   adriamoya
# @Last modified time: 2019-01-11T16:34:01+00:00

[user]
  name = adriamoya
  email = adriamoyaortiz@gmail.com

[github]
  user = adriamoya

[alias]
  # Staging
  a = add
  aa = add --all

  # Branch
  br = branch
  branch-name = rev-parse --abbrev-ref HEAD
  branch-diff = diff master...HEAD
  branch-files = "!git diff master...HEAD --name-status | sed '/^D/d ; s/^.\\s\\+//'"

  # Commit
  c = commit
  ca = commit -a
  cm = commit -m
  cal = !git add -A && git commit              # Commit all changes
  cam = commit -am
  cne = commit --no-edit
  amend = commit --amend
  amend-all = !git add --all && git commit --amend --reuse-message=HEAD

  # Clone
  cl = clone
  sclone = clone --depth=1

  # Checkout
  co = checkout
  cb = checkout -b

  # Cherry-pick
  cp = cherry-pick

  # Diff
  d = diff --color-words
  dc = diff --cached
  df = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  # Merge
  m = merge

  # Pull
  up = pull
  plom = pull origin master
  plum = pull upstream master
  preb = !git fetch upstream && git rebase upstream/master

  # Push
  p = push
  pom = push origin master
  poh = push origin head

  # Stash
  st = stash
  stp = stash pop

  # Status/Logging
  s = status -s -b
  hist = log --graph --pretty=custom           # Show custom graph
  l = log --pretty=custom                      # Show custom log
  ll = log --stat --abbrev-commit
  lc = shortlog --summary --numbered           # List contributors
  lg = log --oneline --decorate --all --graph

  # Reset
  unstage = reset HEAD --                      # Mixed reset (affects HEAD and Index)
  undo = reset --soft HEAD~1                   # Undo last commit (affects HEAD only)
  reset = reset --hard HEAD~1                  # Remove last commit (from HEAD, Index and Working Dir)

  # Remote
  r = remote -v

  # Submodules
  subpl = submodule update --init --recursive

  # Git flow
  new = !git pull origin develop && git flow feature start
  done = !git pull origin develop && git flow feature finish "$(git symbolic-ref --short HEAD | sed -n 's/^feature\\///p')"
  go = !git checkout $1 && pull
  master = !git checkout master && pull
  develop = !git checkout develop && pull
  mmm = !git fetch origin master && git rebase origin/master
  ddd = !git fetch origin develop && git rebase origin/develop

  # Misc
  publish = "!git push --set-upstream origin $(git branch-name)"

[core]
  excludesfile = ~/.gitignore_global
  editor = nano
  filemode = false
  trustctime = false
    autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true